
$HeaderHeight: 2rem;
$FootHeight: 2rem;
$MaxBodyWidth: 1024px;

html {
    text-align: center;


    body {
        max-width: $MaxBodyWidth;
        margin: auto;
        text-align: left;
        background-color: silver; 
        //border-style: solid;
        //border-width: 2px;

        font-size: 1.1rem;
    }

    header, nav, main, footer {
        clear: both;
    }

    footer {
        margin-top: 1.5rem;
        text-align: center;

        font-size: 0.9rem;
    }

    main {
        min-height: 300px;
    }
}


footer {
    line-height: 1px;

    p{
        font-family: "Times New Roman", serif, monospace;
    }
}

.logo {
    font-size: 1.2 rem;
    font-weight: bold;
    font-family: monospace,"Times New Roman", serif     ;
}
